@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}
.container{
    width: 90%;
    max-width: 500px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    padding: 30px 45px;
}
.result_images{
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
}
.result_images div{
    font-size: 100px;
    text-align: center;
    width: 100%;
    color: blueviolet;
    cursor: pointer;
}
.user_result i{
    transform: rotate(90deg);
}
.cpu_result i{
    transform: rotate(-90deg) rotateY(180deg);
}
.result{
    width: 100%;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    color: blueviolet;
    margin-top: 10px;
}
.options{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 40px;
    gap: 30px;
    padding: 0 20px;
}
.options .option{
    padding: 5px;
    text-align: center;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s ease;
}
.options .option i{
    font-size: 50px;
    color: blueviolet;
}
.options .option p{
    font-size: 17px;
    color: blueviolet;
    font-weight: 500;
    margin-top: 12px;
}
.options .option:hover{
    opacity: 1;
}
#scissors_option i{
    transform: rotate(90deg);
}

@media screen and (max-width:600px) {

    .result_images div{
        font-size: 70px;
    }
    .result{
        font-size: 25px;
    }
    .container{
        padding: 25px 10px;
    }
    .options .option i{
        font-size: 40px;
    }
    .options .option p{
        font-size: 15px;
    }
}